

.box {
  width: 90%;
  max-width: 1100px;
  margin: 52px auto;
  padding: 45px;
  background: #ffffff;
  border-radius: 18px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease;
}

.box:hover {
  transform: scale(1.01);
}


.box h2 {
  font-size: 2rem;
  text-align: center;
  color: #140085;
  margin-bottom: 15px;
  letter-spacing: 1px;
  font-weight: bold;
}



.input {
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  border-radius: 12px;
  border: 2px solid #b8b8ff;
  font-size: 1.1rem;
  transition: 0.3s ease;
}

.input:focus {
  border-color: #4d1cff;
  box-shadow: 0 0 10px rgba(96, 57, 255, 0.4);
  outline: none;
}


.form-row {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.form-row .input {
  flex: 1;
}


.btn {
  padding: 14px 22px;
  border: none;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s ease;

}

.btn.add {
  padding: 20px ;
  margin: 2px;      
  font-size: 1rem;      
  border-radius: 10px;   
  height: 50px;  
}

.btn.add:hover {
  background: #3500b3;
  transform: scale(1.05);
}

.actions {
  display: inline-flex;
  gap: 14px;
    
}

.btn-edit {
  padding: 10px 15px;
  background: #0066ff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.btn-edit:hover {
  background: #0047b3;
  transform: scale(1.1);
}


.btn-delete {
  padding: 10px 15px;
  background: #ff0026;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.btn-delete:hover {
  background: #b3001a;
  transform: scale(1.07);
}

.tabla {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  overflow: hidden;
  border-radius: 15px;
  
}

.tabla thead {
  background: linear-gradient(90deg, #2300b3, #4c00ff);
  color: white;
}

.tabla th {
  padding: 16px;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}


.tabla td {
  padding: 15px;
  font-size: 1.1rem;
  text-align: center;
  border-bottom: 1px solid #ddddff;
}

.tabla tr:hover td {
  background: #f3f0ff;
  cursor: pointer;
}

.tabla tbody tr:nth-child(even) {
  background: #faf8ff;
}

body {
  background: #F2F2F2; 
  color: #233559;     
}

.box {
  background: #ffffff;  
  border: 2px solid #114ed1; 
}

.btn.add {
  background: #233559;   
  color: white;
}

.btn-add:hover {
  background: #02BFF2;   
}

.tabla thead {
  background: #e20511;   
  color: white;
}
.footer {
  width: 100%;
  background: #071D49; 
  color: white;
  padding: 5px 0;
  margin-top: 10px;
  text-align: center;
  border-radius: 1rem;
 
}

.footer-content p {
  margin: 5px 0;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-size: 1.1;
  gap: unset;


}

/* Botón Agregar / Guardar */
.btn.add {
  padding: 20px;
  margin: 2px;
  /* menos alto y ancho */
  font-size: 1rem;
  /* fuente más pequeña */
  border-radius: 10px;
  height: 50px;
  /* borde redondeado más pequeño */
}

.btn.add:hover {
  background: #3500b3;
  transform: scale(1.05);
}

/* Botones de acciones */
.actions {
  display: inline-flex;
  gap: 14px;

}

.btn-edit {
  padding: 10px 15px;
  background: #0066ff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.btn-edit:hover {
  background: #0047b3;
  transform: scale(1.1);
}


.btn-delete {
  padding: 10px 15px;
  background: #ff0026;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.btn-delete:hover {
  background: #b3001a;
  transform: scale(1.07);
}

/* --- TABLAS --- */
.tabla {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  overflow: hidden;
  border-radius: 15px;

}

.tabla thead {
  background: linear-gradient(90deg, #2300b3, #4c00ff);
  color: white;
}

.tabla th {
  padding: 16px;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}


.tabla td {
  padding: 15px;
  font-size: 1.1rem;
  text-align: center;
  border-bottom: 1px solid #ddddff;
}

.tabla tr:hover td {
  background: #f3f0ff;
  cursor: pointer;
}

/* --- FILAS ALTERNADAS --- */
.tabla tbody tr:nth-child(even) {
  background: #faf8ff;
}

body {
  background: #F2F2F2;
  /* gris claro de fondo */
  color: #233559;
  /* texto principal en azul institucional */
}

.box {
  background: #ffffff;
  /* fondo blanco para módulos */
  border: 2px solid #114ed1;
  /* borde rojo UCV para destacar */
}

.btn.add {
  background: #233559;
  /* azul UCV */
  color: white;
}

.btn-add:hover {
  background: #02BFF2;
  /* acento turquesa al pasar el mouse */
}

.tabla thead {
  background: #e20511;
  /* rojo UCV en encabezados */
  color: white;
}

.footer {
  width: 100%;
  background: #071D49;
  /* Azul UCV */
  color: white;
  padding: 5px 0;
  margin-top: 10px;
  text-align: center;
  border-radius: 1rem;

}

.footer-content p {
  margin: 5px 0;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-size: 1.1;
  gap: unset;

}